/* componentizado para componets/Section

div#page-home section.default {
  height:  80vh;
  display: flex;
  padding: 52px;
}

div#page-home section.section-1 {
  background-color: #f2c6de;
  alinhando o conteudo ao fundo
  align-items: flex-end;
}

div#page-home section.section-2 {
  background-color: #dbcdf0;
}

div#page-home section.section-3 {
  background-color: #c6def1;
}

div#page-home section.section-4 {
  background-color: #c9e4de;
}

div#page-home section.section-5 {
  background-color: #faedcb;
} */

/* div#page-home section div.content-left {
  background-color: teal;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  color:#fff;
  padding-bottom: 48px;
} */

/* Exportado para componets/Title

div#page-home section div.content-left h4,h1,a {
  letter-spacing: 1px;
}

div#page-home section div.content-left h4 {
  margin-bottom: 12px;
}

div#page-home section div.content-left h1 {
  margin-bottom: 24px;
  font-size: 48px;
} */

/*
Exportando para componets/LinkButton

div#page-home section div.content-left a {
  background-color: burlywood;
  width: 164px;
  alinhar o texto ao centro
  text-align: center;
  padding: 8px 0px;
  margin-top: 16px;
  border-style: solid;
  border-width: 2px;
  font-weight: 700;
  tempo de trasição
  transition-duration: 500ms;

}

div#page-home section div.content-left a:hover {
  background-color: #fff;
  color: #000;
} */

div#page-home section video.video-simulator {
  /* posiciona o componete de forma absoluta em relação ao seu pai com position:relative */
  position: absolute;
  z-index: 1;
  right: 8vw;
  margin: 5vw;
}

div#page-home .section-video .section-content-default  {
  z-index: 2;
}