div.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* deixa o header fixado */
  position: fixed;
  /* espaço entre os elementos  */
  /* justify-content: space-between; */
  top: 0;
  /* background-color: black; */
  /* Altura */
  height: 100px;
  /* Largura */
  width: 100%;
  /* sobrepoem componentes */
  z-index: 1;
  transition: top 0.5s;
}
/* Foi usado o flex:1 para ocupar todo espaço do nav para empurrar o incone para direita */
nav#menu {
  flex: 1;
}

/* estilizando o icone bars */
.container-header i {
  margin-right: 50px;
  cursor: pointer;
}

#menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#menu ul li { display: inline; }

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  /* visual do link */
  background-color: transparent;
  text-decoration: none;
  /* border-bottom:3px solid #EDEDED; */
}

#menu ul li a span {
  font-weight:bold;
  text-transform: uppercase;
  color: white;
  font-size: 14px;  
}

#menu ul li a span:hover {
  border-bottom: 1px solid #fff;
}

img.logo-img {
  height: 26px;
  margin-left: 150px;
}

div.container-drawer {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

div.container-drawer ul{
  list-style: none;
  width: 100%;
}

div.container-drawer ul li {
  /* alinhar texto a direita */
  text-align: right;
  /* recuo interno */
  padding: 10px 0;
  /* border-bottom: tipoDaBorda tamanho cor; */
  border-bottom: solid 2px #252525;
}

div.container-drawer ul li a span:hover {
  opacity: 0.5;
  transition-duration: 300ms;
}

div.container-drawer i {
  cursor: pointer;
  margin: 8px 0;
}

/* Responsivo */
@media only screen and (max-width: 600px) {
  nav#menu {
    display: none;
  }

  .container-header i {
    position: absolute;
    right: 8px;
    /* Analise */
    margin-right: 15px;
  }

  img.logo-img {
    margin-left: 50%;
  }
}